.request-commissions-container {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

    /* temp padding */
    padding-top: 100px;
}

.request-commissions-title {
    height: 200px;
    width: 100%;

    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.form-container {
    display: flex;
    flex-flow: row wrap;
    row-gap: 30px;
    justify-content: space-around;
}

.form-card {
    width: 100%;
    height: 100px;
}