.request-commissions-container {
    box-sizing: border-box;
    width: 100%;

    /* temp padding */
    padding-top: 100px;
    display: inline-block;
    clear: both;
}
.request-commissions-right {
    width: 60%;
    float: right;
}
.request-commissions-title {
    height: 200px;
    width: 100%;

    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.request-commissions-form-container {
    display: flex;
    flex-flow: row wrap;
    row-gap: 30px;
    justify-content: space-around;
}

.request-commissions-form-card {
    width: 100%;
}

.request-commissions-left {
    width: 40%;
    float: left;
}
.request-commissions-picture-container {
    width: 100%;

    column-count: 1;
    column-width: auto;
}
