.homepage-container {

}

.homepage-featured-container {
    width: 100vw;
    height: 700px;
    background-color: red;
}

.homepage-filter-container {
    width: 100vw;
    height: 50px;
    background-color: green;
}

.homepage-explore-container {
    width: 100vw;
    height: 1000px;
    background-color: yellow;
}
