.homepage-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* 
-- giant picture like jumbotron
*/
.homepage-featured-container {
    width: 100vw;
    padding: 0 20vw;
    height: 700px;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}
.homepage-featured-info {
    order: 1;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.homepage-featured-picture-container {
    order: 2;
    width: 50%;
    height: 100%;
    background-color: aqua;
}
.homepage-featured-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


/* 
-- not yet made filter for pictures
*/
.homepage-filter-container {
    width: 100vw;
    height: 50px;
    background-color: green;
}

/* 
-- pinterest like gallery of picturess
*/
.homepage-explore-container {
    box-sizing: border-box;

    width: 100vw;
    padding: 0 10vw;

    /* display: flex;
    flex-flow: row wrap;
    row-gap: 50px;
    column-gap: 50px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between; */

    column-count: 5;
    column-width: auto;
    column-gap: 2%;
}
