.card-container {
    break-inside: avoid-column;
    margin-bottom: 10px;
}

.card-img {
    width: 100%;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    color: #A4A3AD;
    text-align: left;
    margin-left:10px;
}