/* the entire thing held in this container */
.form-input-container {
    width: 100%;
    height: 100%;
}

/* the label of the input */
/* .form-input-title {

} */

/* where the user types */
.form-input {
    width: 100%;
    height: 200px;
    padding: 15px 17px; /* there are already 3px padding on top for some reason */

    outline: 0px;
    resize: none;
}

/* makes the error message and character limit the same line */
.form-input-error-container {
    margin-top: 5px;
    position: relative;
    width: 100%;
}
/* error text */
.form-input-error-text {
    display: flex;
    justify-content: center;
}
/* character limit */
.form-input-character-limit {
    position: absolute;
    right: 10px;
    top: 2px;
}

.green {
    color: #4CAF50;
}

.red {
    color: #F66359;
}

.black {
    color: black;
}

.hidden {
    display: none;
}