.card-container {
    break-inside: avoid-column;
    margin-bottom: 20px;
}

.card-img {
    border-radius: 10px;
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    color: #A4A3AD;
    text-align: left;
    margin-left:10px;
}